{
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-react-jsx"
      ],
      "presets": [
        "env",
        "jest"
      ]
    }
  }
}